<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body {
            background: #626262 !important;
        }
    </style>
</head>
<body>
    @if (User.IsInRole("Customer"))
    {
        <nav class="navbar navbar-default"></nav>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary d-flex">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                <a class="navbar-brand">
                    <img src="https://i.imgur.com/FIF3e1r.png" alt="RecycleLogo" width="45" height="45" />
                </a>
                <ul class="navbar-nav mr-auto">
                    
                    <li><a class="nav-link" href="~/Home/Index"> Home </a></li>
                    <li><a class="nav-link" href="~/Customers/ChooseNewOneTimePickup"> Schedule An Extra Pickup </a></li>
                    <li><a class="nav-link" href="~/Customers/MoneyOwed"> View Balance Due </a></li>

                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </nav>
       
    }
    else if (User.IsInRole("Employee"))
    {
        <nav class="navbar navbar-default"></nav>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary d-flex">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="navbar-collapse collapse container" id="navbarSupportedContent">
                    <a class="navbar-brand">
                        <img src="https://i.imgur.com/FIF3e1r.png" alt="RecycleLogo" width="45" height="45" />
                    </a>
                    <ul class="navbar-nav mr-auto">
                        @*<li><a class="nav-link" href="~/Account/Register"> Register </a></li>*@
                        <li><a class="nav-link" href="~/Home/Index"> Home </a></li>
                        <li><a class="nav-link" href="~/Employees/FilterPickupsByWeekday"> View Daily Schedules </a></li>

                    </ul>
                    @Html.Partial("_LoginPartial")

                </div>
            </div>
        </nav>

        
    }
    else
    {
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary d-flex">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="navbar-collapse collapse container" id="navbarSupportedContent">

                    <ul class="nav navbar-nav mr-auto"></ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
