@model TrashCollector2.Models.Customer

@{
    ViewBag.Title = "CustomerHome";
}

<h2>My Info</h2>
<dl class="dl-horizontal">
    @Html.HiddenFor(model => model.UserId)
    <dt>
        @Html.DisplayNameFor(model => model.FullName):
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FullName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StreetAddress):
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StreetAddress)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ZipCode):
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ZipCode)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.WeeklyPickupDay):
    </dt>

    <dd>
        @Html.DisplayFor(model => model.WeeklyPickupDay)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OneTimePickupDate):
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OneTimePickupDate)
    </dd>
    @if (Model != null && Model.IsOnHold)
    {
        <dt>
            @Html.DisplayNameFor(model => model.IsOnHold):
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.IsOnHold)
        </dd>
        @Html.ActionLink("Remove Hold", "TakePickupsOffHold", new { id = Model.UserId }, new { @class = "btn btn-warning" })
    }
</dl>
<hr />
<div>
    <input type="button" class="btn btn-success" value="Schedule An Extra Pickup" onclick="location.href='@Url.Action("ChooseNewOneTimePickup", "Customers")'" />&nbsp;
    <input type="button" class="btn btn-success" value="View Balance Due" onclick="location.href='@Url.Action("MoneyOwed", "Customers")'" />&nbsp;
    <input type="button" class="btn btn-success" value="Pay Balance" onclick="location.href='@Url.Action("PayForPickups", "Customers")'" />&nbsp;
    <input type="button" class="btn btn-success" value="Put Pickups On Hold" onclick="location.href='@Url.Action("DelayPickupsForTime", "Customers")'" />&nbsp;
    
    @Html.ActionLink("Edit My Info", "Edit", new { id = Model.UserId }, new { @class = "btn btn-success" })&nbsp;
    @Html.ActionLink("Delete My Account", "Delete", new { id = Model.UserId }, new { @class = "btn btn-danger" })&nbsp;
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
