@model TrashCollector2.Models.Customer

@{
    ViewBag.Title = "CustomerHome";
}

<h2>My Info</h2>
<dl class="dl-horizontal">
    @Html.HiddenFor(model => model.UserId)
    <dt>
        @Html.DisplayNameFor(model => model.FullName):
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FullName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.StreetAddress):
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StreetAddress)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ZipCode):
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ZipCode)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.WeeklyPickupDay):
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.WeeklyPickupDay)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OneTimePickupDate):
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OneTimePickupDate)
    </dd>
    @if (Model.IsOnHold)
    {
        <dt>
            @Html.DisplayNameFor(model => model.IsOnHold):
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.IsOnHold)
        </dd>
    }
</dl>
<div>
    | @Html.ActionLink("Schedule One-Time Pickup", "ChooseNewOneTimePickup", new { id = Model.UserId }) |
    @Html.ActionLink("View Balance Due", "MoneyOwed", new { id = Model.UserId }) |
    @Html.ActionLink("Pay Balance", "PayForPickups", new { id = Model.UserId }) |
    @Html.ActionLink("Edit My Info", "Edit", new { id = Model.UserId }) |
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
