@model IEnumerable<TrashCollector2.Models.Customer>

@{
    ViewBag.Title = "EmployeeTodayPickups";
}

<h2>EmployeeTodayPickups</h2>

@{List<string> pins = new List<string>(); }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeeklyPickupDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OneTimePickupDate)
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            pins.Add(item.UserId);
            @Html.HiddenFor(modelItem => item.UserId)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeeklyPickupDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneTimePickupDate)
                </td>
                <td>
                    @Html.ActionLink("Confirm Pickup", "ConfirmPickup", "Employees", new { id = item.UserId }, FormMethod.Post) | @Html.ActionLink("Map This", "SeeCustomersOnMap", new { id = item.UserId })
                </td>
            </tr>
        }
    }
</table>
<div>
    @Html.ActionLink("View All Pickups On Map", "SeeCustomersOnMap")
</div>
<br /><br /><br /><br /><br />